<!-- <pre>{{sortedAndIndexedDataStream | async | json }}<pre> -->
<div #listContainer class="list-container">
    <div
     id="amtctnr"
    *ngFor="let item of sortedAndIndexedDataStream | async " 
    class="list-item-container"
    [ngStyle]="makeListItemStyle(item)"
    (transitionend)="animationCallback(item,$event)"
    >
        <div class="list-item">
            <div class="list-ranking"
            [ngClass]="{'ranking-moving': (item.dynamics.direction !== 0)}"
            >{{(item.dynamics.index + 1)}}</div>
            <div class="profile-pic"
            [ngStyle]="makeProfilePic(item)"
             ></div>
            <div class="name-container"
            [ngClass]="{
                'name-going-up': (item.dynamics.direction === 1),
                'name-going-down': (item.dynamics.direction === -1)
            }"
            >
                {{item.city}}<br/>
                <span class="other-names">{{item.dataCenter}}</span>
            </div>
            <div 
            class="amount-container amount-going-up"
            [ngClass]="{ 
                'amount-going-up': (item.dynamics.direction === 1),
                'amount-going-down': (item.dynamics.direction === -1)
            }"
            >{{item.amount}}Mb/s
            </div>
        </div>
    </div>
</div>