<div class="bar-container">
  <img class="logo" src="../../assets/network.svg">
  <div class="bar-title">Ports <span class="thin-portion">Tracker</span></div>
  
</div>
<mat-sidenav-container class="menu-container">
    <mat-sidenav align="end" #sidenav class="example-sidenav">
      <div class="side-nav-bar">
          <div class="bar-title">Menu</div>
          <button class="menu-button" type="button" mat-button (click)="sidenav.toggle()">
              <i class="material-icons">arrow_forward</i>              
          </button>
      </div>
      <div class="sidebar-links">
        <ul>
          <li>Ports Tracker</li>
          <li>Ports Manager</li>
        </ul>
      </div>
    </mat-sidenav>
  
    <div class="sidenav-content">
      <button class="menu-button" type="button" mat-button (click)="sidenav.toggle()">
          <i class="material-icons">menu</i>
      </button>
    </div>
  
  </mat-sidenav-container>